@model AddCertificateViewModel

@{
    ViewBag.Title = "Add Certificate";
}


<div class="container">
    @if (ViewBag.Certificate != null)
    {
        <div class="card" style="margin-top: 30px">

            <div class="card-content">

                <div class="teal lighten-2 white-text card-content" style="text-align:center">
                    <h3>Your certificate is set up <i class="material-icons-outlined">done</i> </h3>
                    <p>Id: @ViewBag.Certificate.Id </p>
                    <p>Uploaded: @ViewBag.Certificate.Date </p>
                </div>

            </div>

        </div>
    }
    else
    {
        <div class="card" style="margin-top: 30px">

            <form class="card-content" style="padding: 45px" enctype="multipart/form-data" asp-controller="certificate" asp-action="add" method="post">
                <h4 class="blue-text" style="margin-top: 0px; margin-bottom: 36px">Add Certificate</h4>


                <div class="form-field">
                    <label style="color: #5e5e5e; font-size: 1rem">Certificate Password</label>
                    <input asp-for="Password" placeholder="Password" />
                </div>

                <div class="file-field input-field">
                    <div class="btn blue">
                        <span>Choose Certificate File</span>
                        <input asp-for="File" accept=".pfx">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload .PFX File" accept=".pfx">
                    </div>
                </div>

                <div asp-validation-summary="All" class="red-text"></div>
                <br />


                <div class="form-field row">
                    <button type="submit" class="btn-large waves-effect blue waves-dark right col s5">Add Certificate</button>
                </div>

            </form>

        </div>
    }
</div>